body {
  font-family : "Press Start 2P", cursive ;
  font-size   : 1rem                      ;
}

table {
  margin : 1rem auto ;
}

td {
  height : 1rem            ;
  width  : 1rem            ;
  border : 1px solid black ;
}

div {
  height : 1rem            ;
  width  : 1rem            ;
  margin : 2px 0           ;
  border : 1px solid black ;
}

label {
  margin-top : 1rem ;
}

#score, #lines, .dbg-axis {
  display : block ;
}

.scoreboard, .dbg-buttons, .dbg-axes {
  position: absolute ;
}

.dbg-axes {
  left : 2rem ;
}

.active {
  background : red ;
}
