* {
  box-sizing: border-box ;
  margin  : 0 ;
  padding : 0 ;
}

body {
  align-items   : center  ;
  display       : grid    ;
  justify-items : center  ;
  margin        : 1rem    ;
  background    : #0d1117 ;
}

#display {
  border : 2px solid black ;
}
